span.money{
	left:460px;
	top:150px;
	width:70px;
	height:40px;
	position:absolute;
	color:red;
	font-size:40px;
	font-family:"Pocket Calculator";
}
span.time{
	left:460px;
	top:55px;
	width:70px;
	height:40px;
	position:absolute;
	color:red;
	font-size:40px;
	font-family:"Pocket Calculator";
}