span.money{
	left:470px;
	top:150px;
	width:70px;
	height:40px;
	position:absolute;
	color:red;
	font-size:40px;
	font-family:"Pocket Calculator";
}
span.time{
	left:470px;
	top:55px;
	width:70px;
	height:40px;
	position:absolute;
	color:red;
	font-size:40px;
	font-family:"Pocket Calculator";
}
.ReelBack{
	left:255px;
	top:40px;
	width:200px;
	height:190px;
	position:absolute;
	background:grey;
}
.Back{
	left:180px;
	top:0px;
	width:390px;
	height:370px;
	position:absolute;
	background:red;
}